<!DOCTYPE html>
<html ng-app="myApp">
<head lang="zh-cn">
<meta charset="utf-8">
<meta http-equiv="X-UA-COMPATIBLE" CONTENT="IE=edge">
<meta name="viewport" content="width=device-width, initail-sacle=1">

<link href="/order/css/bootstrap.min.css" rel="stylesheet"
	type="text/css">
<link href="/order/css/style.css" rel="stylesheet" type="text/css">
<script src="/order/js/angular.min.js" language="javascript"></script>
<script src="/order/js/orderControl.js" language="JavaScript"></script>
<title></title>
</head>
<body ng-controller="OrderCtrl">
	<div class="panel-title title">欢迎选择苏妈妈!</div>
	
	<div ng-show="showDetailDiv" ng-click="closeDetail()" class="pop-box">
		<div class="subtitle">订单详情</div>
		<div class="row divbottom bothmargin0"><div class="col-xs-6 rightpadding3">产品名称</div><div class="col-xs-3 rightpadding3 leftpadding3">单价</div><div class="col-xs-3 leftpadding3">数量</div></div>
		<div ng-repeat="item in currentOrder.OrderDetail">
		<div class="row divbottom bothmargin0">
			<div class="col-xs-6 rightpadding3">{{item.productName}}</div><div class="col-xs-3 rightpadding3 leftpadding3">{{item.productprice | currency:'￥'}}</div><div class="col-xs-3 leftpadding3">{{item.productCount}}</div>
		</div>
		</div>
	</div>
	<div class="mask" ng-show="showDetailDiv"></div>
	
	<div class="container">
		<div class="subtitle">我的订单</div>
		<div ng-repeat="Order in orderList">
		<div class="row deterline"></div>
		<div  class="row" ng-click="showDetail(Order)">
			<div class="col-xs-4">订餐时间:</div><div class="col-xs-8">{{Order.trsdate}}&nbsp;{{Order.trstime}}</div>
			<div class="col-xs-4">订单金额:</div><div class="col-xs-8">{{Order.amount | currency:'￥'}}</div>
			<div class="col-xs-4">联系电话:</div><div class="col-xs-8">{{Order.phone}}</div>
			<div class="col-xs-4">送餐地址:</div><div class="col-xs-8">{{Order.addres}}</div>
			<div class="col-xs-4">订单状态:</div><div class="col-xs-8">{{Order.orderstate | orderState}}</div>
		</div>
		</div>
		<div style="text-align:center">
			共{{TotalPage}}页&nbsp;&nbsp;{{TotalNum}}条;&nbsp;&nbsp; 当前第{{pageNum}}页<br>
			<input type="button" value="上一页" ng-click="prePage()" ng-disabled="pageNum == 1">
			<input type="button" value="下一页" ng-click="nextPage()" ng-disabled="pageNum == TotalPage">
		</div>
	</div>

</body>
</html>