.title {
    color: red;
    font-size: 24px;
    border: 1px solid lightgray;
    padding-left: 15px;
}

.subtitle {
    color: darkred;
    font-size: 20px;
    border-bottom: 2px solid darkred;
    padding-top: 20px;
    padding-bottom: 8px;
}

.product {
    padding-top: 15px;
    border-bottom: 1px solid lightgray;
}

.productchecked {
    padding-top: 15px;
    border-bottom: 1px solid lightgray;
    background-color: lightgray;
}

.productcheck {
    color: black;
    font-size: 18px;
    padding-top: 15px;
    display: inline;
}
.prodname {
    color: black;
    font-size: 18px;
    padding-top: 15px;
    display: inline;
}

.prodprice {
    color: black;
    font-size: 18px;
    text-align: right;
    display: inline;
    float: right;
}

.productremark {
    color: black;
    padding-top: 10px;
    display: inline;
    margin-bottom: 1px;
}

.productbuy {
    width: 100%;
    text-align: right;
    display: none;
    border-bottom: 1px solid lightgray;
}

.productbuyShow {
    width: 100%;
    text-align: right;
    display: block;
    border-bottom: 1px solid lightgray;
}

.productcal {
    display: inline;
    font-size: 40px;
}
.productcount {
    display: inline;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.paddingleft {
    padding-left: 0px;
}

.paddingright {
    padding-right: 0px;
}

.selectedProduct {
    padding-top: 5px;
    padding-bottom: 5px;
}

.divbottom {
    border-bottom: 1px solid lightgray;
}

.deterline {
    height: 20px;
    background-color: lightgray;
}

.nonborder {
    border: none;
    width: 100%;
}

.alignright {
    text-align: right;
}

.inputline {
    border-bottom: 1px solid lightgray;
    height:50px;
    line-height:50px;
    overflow:hidden;
}

.result {
	padding-top: 30px;
	text-align: center;
	font-size: 30px;
}

.pop-box {
border: 2px solid #009900;
background-color:white;
line-height: 25px;
font-size: 13px;
font-weight: bold;
z-index:9999;
width: 70%;
height: 70%;
margin-left:15%!important;/*FF IE7 half of its width */
margin-right:15%!important;
margin-top:10%!important;/*FF IE7 half of its height*/
position:fixed!important;/*FF IE7*/
position:absolute;/*IE6*/
} 

.mask {   
            color:lightgrey;
            background-color:lightgrey;
            position:absolute;
            top:0px;
            left:0px;
            filter: Alpha(Opacity=60);
            width: 100%;
            height: 100%;
            z-index: 9998;
            opacity: 0.50;
            position:fixed!important;/*FF IE7*/
        }

.leftpadding3 {
	padding-left: 3px;
}

.rightpadding3 {
	padding-right: 3px;
}

.bothmargin0 {
	margin-left: 0;
	margin-right: 0;
}
