.title {
    color: red;
    font-size: 24px;
    border: 1px solid lightgray;
    padding-left: 15px;
}

.subtitle {
    color: darkred;
    font-size: 20px;
    border-bottom: 2px solid darkred;
    padding-top: 20px;
    padding-bottom: 8px;
}

.product {
    padding-top: 15px;
    border-bottom: 1px solid lightgray;
}

.productchecked {
    padding-top: 15px;
    border-bottom: 1px solid lightgray;
    background-color: lightgray;
}

.productcheck {
    color: black;
    font-size: 18px;
    padding-top: 15px;
    display: inline;
}
.prodname {
    color: black;
    font-size: 18px;
    padding-top: 15px;
    display: inline;
}

.prodprice {
    color: black;
    font-size: 18px;
    text-align: right;
    display: inline;
    float: right;
}

.productremark {
    color: black;
    padding-top: 10px;
    display: inline;
    margin-bottom: 1px;
}

.productbuy {
    width: 100%;
    text-align: right;
    display: none;
    border-bottom: 1px solid lightgray;
}

.productbuyShow {
    width: 100%;
    text-align: right;
    display: block;
    border-bottom: 1px solid lightgray;
}

.productcal {
    display: inline;
    font-size: 40px;
}
.productcount {
    display: inline;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.paddingleft {
    padding-left: 0px;
}

.paddingright {
    padding-right: 0px;
}

.selectedProduct {
    padding-top: 5px;
    padding-bottom: 5px;
}

.divbottom {
    border-bottom: 1px solid lightgray;
}

.deterline {
    height: 20px;
    background-color: lightgray;
}

.nonborder {
    border: none;
    width: 100%;
}

.alignright {
    text-align: right;
}

.inputline {
    border-bottom: 1px solid lightgray;
    height:50px;
    line-height:50px;
    overflow:hidden;
}


